@at-root

  @import ../helpers/utility/eq

  ////------------------------------------------
  .classItems
    //------------------------------------------

    // ----- RWD -----
    +eq-from(m)
      display: flex
      .classItems-navigation
        width: 30%

      .classItems-items
        width: 70%



  ////------------------------------------------
  .classItems-navigation
    //------------------------------------------

    // ----- Layout -----
    padding: 1rem



  ////------------------------------------------
  .classItems-items
    //------------------------------------------

    // ----- Layout -----
    padding: 1rem
