@at-root

  @import ../helpers/utility/eq

  $line-height: 1.5rem
  $even-bg:     #f8f8f8
  $hover-bg:    lightgrey

  ////------------------------------------------
  .classItemShort
    //------------------------------------------

    // ----- Layout -----
    overflow: hidden
    position: relative

    // ----- Content layout -----
    .classItemShort-link
      display: block

    // ----- Looks -----
    &:nth-child(even)
      background-color: $even-bg
    &:hover
      background-color: $hover-bg

  ////------------------------------------------
  .classItemShort-icons
    //------------------------------------------

    // ----- Layout -----
    display:         inline-flex
    align-items:     center
    justify-content: flex-end

    // ----- Content layout -----
    .classItemShort-icon
      &:not(:last-child)
        margin-right: 2px

  ////------------------------------------------
  .classItemShort-link
    //------------------------------------------

    // ----- Text -----
    text-decoration: none

    // ----- Content layout -----
    .classItemShort-icons
        vertical-align: middle



  ////------------------------------------------
  .classItemShort-name
    //------------------------------------------

    // ----- Text -----
    white-space:           nowrap
    overflow:              hidden
    text-overflow:         ellipsis
    text-decoration:       underline
    text-decoration-style: dashed
    line-height:           $line-height

    .classItemShort:hover &
      //color:         white
      text-decoration: none
