<div class="classItems-navigation">

  {{class-items-filter
    filterName         = filterName
    showMethods        = showMethods
    showProperties     = showProperties
    showEvents         = showEvents
    showOtherItemTypes = showOtherItemTypes
    showPublic         = showPublic
    showProtected      = showProtected
    showPrivate        = showPrivate
    showStatic         = showStatic
    showInstance       = showInstance
    showDeprecated     = showDeprecated
    showNonDeprecated  = showNonDeprecated
    showInherited      = showInherited
    showNonInherited   = showNonInherited

    hasMoreThanOne = (hash
      access     = hasMoreThanOneAccess
      deprecated = hasMoreThanOneDeprecation
      inherited  = hasMoreThanOneInheritance
    )

    hasPublic          = (gt classItemsPublic.length        0)
    hasProtected       = (gt classItemsProtected.length     0)
    hasPrivate         = (gt classItemsPrivate.length       0)
    hasDeprecated      = (gt classItemsDeprecated.length    0)
    hasNonDeprecated   = (gt classItemsNonDeprecated.length 0)
    hasInherited       = (gt classItemsInherited.length     0)
    hasNonInherited    = (gt classItemsNonInherited.length  0)
  }}

  {{#if classItems.length}}
    {{class-items-list
      classItems                     = classItems
      classItemsFiltered             = classItemsFiltered
      type                           = 'short'
      classRecord                    = classRecord
      scrollableItemListHtmlClass    = scrollableItemListHtmlClass
      staticMethodsAreCollapsed      = staticMethodsAreCollapsed
      staticPropertiesAreCollapsed   = staticPropertiesAreCollapsed
      staticEventsAreCollapsed       = staticEventsAreCollapsed
      instanceMethodsAreCollapsed    = instanceMethodsAreCollapsed
      instancePropertiesAreCollapsed = instancePropertiesAreCollapsed
      instanceEventsAreCollapsed     = instanceEventsAreCollapsed
      class                          = "classItems-navigationList"
    }}
  {{/if}}
</div>{{!classItems-navigation}}

{{#if classItems.length}}
  {{class-items-list
    classItems                     = classItems
    classItemsFiltered             = classItemsFiltered
    classRecord                    = classRecord
    type                           = 'long'
    scrollableItemListHtmlClass    = scrollableItemListHtmlClass
    staticMethodsAreCollapsed      = staticMethodsAreCollapsed
    staticPropertiesAreCollapsed   = staticPropertiesAreCollapsed
    staticEventsAreCollapsed       = staticEventsAreCollapsed
    instanceMethodsAreCollapsed    = instanceMethodsAreCollapsed
    instancePropertiesAreCollapsed = instancePropertiesAreCollapsed
    instanceEventsAreCollapsed     = instanceEventsAreCollapsed
    class                          = "classItems-items"
  }}
{{/if}}