{{#scroll-to
  href=(plus '#' (encode-class (plus 'classItem-' classItem.id)))
  scrollable=scrollable
  class="classItemShort-link"
}}

  <span
    class="classItemShort-name"
  >{{classItem.name}}</span>

  <span class="classItemShort-icons">
    {{#unless (eq classItem.access 'public')}}
      {{fugue-icon
        type='access'
        value=classItem.access
        class="classItemShort-icon _access"
      }}
    {{/unless}}

    {{#if classItem.deprecated}}
      {{fugue-icon
        type='deprecated'
        value=classItem.deprecated
        class="classItemShort-icon _deprecated"
      }}
    {{/if}}

    {{#if isInherited}}
      {{fugue-icon
        type='inherited'
        value=(if isInherited 'inherited' (if isOverridden 'overridden' false))
        class="classItemShort-icon _inherited"
      }}
    {{/if}}
  </span>
{{/scroll-to}}