<h1 id="title">Ember YUIDoc Frontend</h1>
<p>
  View YUIDoc documentation fresh from GitHub!

  <a
    href="https://github.com/lolmaus/yuidork"
    target="_blank"
  >
    Source on GitHub
  </a>
</p>

<hr>

{{outlet}}
