{{#layout-default
  owner       = owner
  repo        = repo
  versionName = versionName
}}

  Loading...

  {{#if loadingStages.length}}
    <ul>
      {{#each loadingStages as |stage|}}
        <li>
          {{stage.name}}

          {{#if stage.total}}
            {{stage.current}}/{{stage.total}}
          {{/if}}

          {{#if stage.complete}}
            ✓
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{/if}}

{{/layout-default}}