<div class="page-version">
  {{#layout-default
    owner         = model.owner
    repo          = model.repo
    versionName   = model.versionName
    versionRecord = model.versionRecord
  }}

    {{outlet}}

  {{/layout-default}}
</div>{{!page-version}}